# Hugo output
public/
resources/_gen/
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
.wrangler

# Logs
*.log

# Optional: ignore local photo files
# Uncomment only if you don't want images in Git
# content/**/*.jpg
# content/**/*.jpeg
# content/**/*.png
# content/**/*.webp