<section class="gallery album-page{{ if .Params.flow_layout }} flow-gallery{{ end }}">
    <div class="album-gallery" id="gallery" data-gallery-container>
        {{ $images := slice }}

        {{ range where (.Resources.ByType "image") "Params.hidden" "ne" true }}
            {{ $title := "" }}
            {{ $date := "" }}

            {{ with .Exif }}
                {{ $date = .Date }}
                {{ with .Tags.ImageDescription }}
                    {{ $title = . }}
                {{ end }}
            {{ end }}

            {{ with .Params.title }}
                {{ $title = . }}
            {{ end }}

            {{ with .Params.Date }}
                {{ $date = time . }}
            {{ end }}

            {{ $images = $images | append (dict
                "image" .
                "Name" .Name
                "Title" $title
                "Date" $date
                "Params" .Params
            ) }}
        {{ end }}

        {{ $publishResources := true }}
        {{ with .Params.build }}
            {{ if isset . "publishResources" }}
                {{ $publishResources = .publishResources }}
            {{ end }}
        {{ end }}
        {{ $sortBy := .Params.sort_by | default "Name" }}
        {{ $sortOrder := .Params.sort_order | default "asc" }}
        {{ $isFlow := .Params.flow_layout }}

        {{ range sort $images $sortBy $sortOrder }}
            {{ $image := .image }}
            {{ $thumbnailSize := "fit 400x400" }}
            {{ if $isFlow }}
                {{ $thumbnailSize = "fit 1600x1600" }}
            {{ end }}
            {{ $thumbnail := $image.Filter (slice images.AutoOrient (images.Process $thumbnailSize)) }}
            {{ $full := $image.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
            {{ $color := index $thumbnail.Colors 0 | default "transparent" }}

            {{ partial "photo.html" (dict
                "image" $image
                "thumbnail" $thumbnail
                "full" $full
                "title" .Title
                "description" $image.Params.description
                "color" $color
                "publishResources" $publishResources
                "showCaption" $isFlow
            ) }}
        {{ end }}
    </div>
</section>
