{{ $isFlow := .Params.flow_layout }}
<section class="gallery album-page{{ if $isFlow }} flow-gallery album-page--flow{{ end }}">
    <div class="album-gallery" {{ if $isFlow }}id="flow-gallery"{{ else }}id="gallery" data-gallery-container{{ end }}>
        {{ $rawImages := .Resources.ByType "image" }}
        {{ if $isFlow }}
            {{ $rawImages = .Resources.Match "*.jpg" }}
        {{ end }}

        {{ $images := slice }}
        {{ range where $rawImages "Params.hidden" "ne" true }}
            {{ $title := .Title }}
            {{ if eq $title .Name }}{{ $title = "" }}{{ end }}

            {{ $date := "" }}
            {{ with .Meta.Exif }}{{ $date = .Date }}{{ end }}
            {{ with .Params.Date }}{{ $date = time . }}{{ end }}

            {{ $images = $images | append (dict
                "image" .
                "Name" .Name
                "Title" $title
                "Date" $date
                "Params" .Params
            ) }}
        {{ end }}

        {{ $publishResources := true }}
        {{ with .Params.build.publishResources }}
            {{ $publishResources = . }}
        {{ end }}

        {{ $sortBy := cond $isFlow "Name" (.Params.sort_by | default "Name") }}
        {{ $sortOrder := cond $isFlow "desc" (.Params.sort_order | default "asc") }}

        {{ range sort $images $sortBy $sortOrder }}
            {{ $img := .image }}
            {{ $thumbSpec := cond $isFlow "fit 2000x2000 q88" "fit 900x900 q88" }}
            {{ $thumbnail := $img.Filter (slice images.AutoOrient (images.Process $thumbSpec) (images.UnsharpMask 0.5 0.5 0.05)) }}
            {{ $full := $img.Filter (slice images.AutoOrient (images.Process "fit 1600x1600")) }}
            {{ $color := index $thumbnail.Colors 0 | default "transparent" }}

            {{ partial "photo.html" (dict
                "image" $img
                "thumbnail" $thumbnail
                "full" $full
                "title" .Title
                "description" $img.Params.description
                "color" $color
                "publishResources" $publishResources
                "showCaption" $isFlow
            ) }}
        {{ end }}
    </div>
</section>