<div class="site-nav-left">
    <a href="/portfolio/" {{ if eq .Section "portfolio" }}class="active"{{ end }}>Portfolio</a>
    <a href="/stories/" {{ if eq .Section "stories" }}class="active"{{ end }}>Stories</a>
    <a href="/flow/" {{ if eq .Section "flow" }}class="active"{{ end }}>Flow</a>
    <a href="/why/" {{ if eq .Section "why" }}class="active"{{ end }}>Why</a>
</div>

<div class="site-title">
    <a href="/">KLEPTOGRAPHY</a>
</div>

<div class="site-nav-right">
    <a href="https://klepsys.lt" target="_blank" rel="noopener">Me</a>
</div>