{{ $imageUrl := "" }}
{{ if .publishResources }}
    {{ $imageUrl = .image.RelPermalink }}
{{ else }}
    {{ $imageUrl = .full.RelPermalink }}
{{ end }}

{{ $title := .title }}
{{ $description := .description }}
{{ $altText := $title }}

{{ if .showCaption }}
<div class="gallery-item flow-item" itemscope itemtype="https://schema.org/ImageObject">
    <figure class="album-photo-image">
        <img
            class="lazyload"
            width="{{ .thumbnail.Width }}"
            height="{{ .thumbnail.Height }}"
            data-src="{{ .thumbnail.RelPermalink }}"
            alt="{{ $altText }}"
            loading="lazy"
            decoding="async" />
        
        {{ if or $title $description }}
        <figcaption class="album-photo-caption">
            {{ with $title }}<strong class="album-photo-title">{{ . }}</strong>{{ end }}
            {{ with $description }}<span class="album-photo-description">{{ . }}</span>{{ end }}
        </figcaption>
        {{ end }}
    </figure>
    <meta itemprop="contentUrl" content="{{ $imageUrl }}" />
</div>
{{ else }}
<a
    class="gallery-item"
    href="{{ $imageUrl }}"
    data-pswp-src="{{ .full.RelPermalink }}"
    data-pswp-width="{{ .full.Width }}"
    data-pswp-height="{{ .full.Height }}"
    data-pswp-target="{{ .image.Name | urlize }}"
    title="{{ $title }}"
    aria-label="{{ $title | default "Open image" }}"
    itemscope
    itemtype="https://schema.org/ImageObject">

    <figure 
        class="album-photo-image" 
        style="background-color: {{ .color }}; aspect-ratio: {{ .thumbnail.Width }} / {{ .thumbnail.Height }}">
        
        <img
            class="lazyload"
            width="{{ .thumbnail.Width }}"
            height="{{ .thumbnail.Height }}"
            data-src="{{ .thumbnail.RelPermalink }}"
            alt="{{ $altText }}"
            loading="lazy"
            decoding="async" />
        
        {{ if or $title $description }}
        <figcaption class="album-photo-caption visually-hidden">
            {{ with $title }}<strong class="album-photo-title">{{ . }}</strong>{{ end }}
            {{ with $description }}<span class="album-photo-description">{{ . }}</span>{{ end }}
        </figcaption>
        {{ end }}
    </figure>
    <meta itemprop="contentUrl" content="{{ $imageUrl }}" />
</a>
{{ end }}
