/* Album */

.album-card {
    position: relative;
    overflow: hidden;
}

.album-card-image,
.album-card-image > img {
    aspect-ratio: $album-ratio;
}

.album-card-image {
    margin: 0;
}

.album-card-image > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay */

.album-card-overlay {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: $space-l;

    background: $color-overlay;

    opacity: 0;
    transition: opacity $transition;
}

.album-card:hover .album-card-overlay {
    opacity: 1;
}

.album-card:hover .album-card-overlay h2 {
    transform: scale(1.03);
}

@media (max-width: 700px) {
    .album-card-overlay {
        opacity: 1;
    }
}