/* Album */

.album-page {
    width: 100%;
}

.album-gallery {
    display: grid;
    gap: 2rem;
}

.gallery {
    padding: 0;
}

.gallery-item {
    display: block;
}

.gallery-item figure {
    margin: 0;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.gallery-item figcaption {
    margin-top: .75rem;
    color: var(--text-2);
    font-size: .9rem;
    line-height: 1.5;
}

@media (min-width: 640px) {
    .album-gallery {
        gap: 3rem;
    }
}