/* Gallery grid */

section.galleries {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem 1.5rem;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 3rem;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* Album page */

section.gallery {
    padding-right: 0;
    padding-left: 0;
}